doctype html
each pg in page
  html
    head
      title= pg.sname
      //- link(rel='stylesheet', href='/css/main.css')
    body
      h2= pg.lname
      div
        each im in pg.images
          img(src=im, alt="имагес")
        p= pg.description